@primary-color: #c8825a;
@link-color: #c8825a;
@border-radius-base: 8px;

@import '~iview/src/styles/index.less';

@menu-dark-title: #7c4a2d;
@menu-dark-active-bg: #5a3420;
@layout-sider-background: #7c4a2d;

body {
  background: #fdf6ee;
}
